<header class="shadow d-md-flex d-lg-flex p-3 justify-content-between">
  <div class="d-flex col-md-10 col-lg-9">
    <img routerLink="/home" src="/assets/ohoh-logo.png" class="" alt="ohoh-logo">
    <h3 class="d-flex align-items-center ms-4">Welcome to OHOH</h3>
  </div>
  <div class="col-md-2 col-lg-3 client-header__menu d-flex justify-content-between align-items-center">
    <a routerLink="/home">Home</a>
    <a routerLink="/client-list">Client List</a>
    <a routerLink="/client-list/client-details">Client Details</a>
    <a routerLink="/logout">Logout</a>
  </div>
</header>
<main class="p-5">
  <router-outlet></router-outlet>
</main>

<footer class="pt-3">
  <div class="d-flex justify-content-between">
    <div class="ms-5">
      <img routerLink="/home" src="/assets/ohoh-logo.png" class="" alt="ohoh-logo">
    </div>
    <div>
      <a href="" class="text-center ps-5" style="color: #959595;">Terms and Conditions</a>
    </div>
    <div class="d-flex me-5">
      <a
      href="https://www.facebook.com/ohohproducts/?show_switched_toast=0&show_invite_to_follow=0&show_switched_tooltip=0&show_podcast_settings=0&show_community_review_changes=0&show_community_rollback=0&show_follower_visibility_disclosure=0">
      <div class="footer_icon me-1 ps-1 pt-1"><i class="fa fa-facebook" aria-hidden="true"></i></div>
    </a> <a href="https://twitter.com/Ohohproducts">
      <div class="footer_icon ms-1 me-1  pt-1"><i class="fa fa-twitter" aria-hidden="true"></i></div>
  </a>
  <a href="https://www.instagram.com/ohohproducts/?igshid=OGQ5ZDc2ODk2ZA">
      <div class="footer_icon ms-1 me-1  pt-1"><i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
  </a>
  <a href="https://www.linkedin.com/company/ohoh-products-private-limited/mycompany/">
      <div class="footer_icon ms-1 me-1  pt-1"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
  </a>
  <a href="https://www.youtube.com/channel/UCCAOcB7w6nLyQ95Abq-8jcw">
      <div class="footer_icon ms-1 pt-1 text-center"><i class="fa fa-youtube-play" aria-hidden="true"></i>
      </div>
  </a>
    </div>
    
  </div>
  <hr class="mt-3">
  <div class="d-flex justify-content-around">
    
    <h6 class="text-center" style="color: #959595;">ohoh. © 2024. All rights reserved.</h6>
  </div>
</footer>