.client-header__menu>a {
    color: black;
    /* padding-left: 30px; */
}

.client-header__menu>a:hover {
    background-color: #f84f31;
    color: white;
    border-radius: 3px;
    padding: 3px;
}
.footer_icon{
    width: 30px;
    height: 30px;
    background-color: #CBCBCB;
    border-radius: 20px;
}
.footer_icon:hover{
    background-color: #FF5D25;
    color: #fff;
}
.fa-facebook:hover{
    color: #fff;
}
.fa-facebook{
    color: black;
}
.fa-twitter:hover{
    color: #fff;
}
.fa-twitter{
    color: black;
}
.fa-instagram:hover{
    color: #fff;
}
.fa-instagram{
    color: black;
}
.fa-linkedin:hover{
    color: #fff;
}
.fa-linkedin{
    color: black;
}
.fa-youtube-play:hover{
    color: #fff;
}
.fa-youtube-play{
    color: black;
}