<button class="float-end client__button mb-2 mt-5" routerLink="../edit-client">Edit</button>
<div class="col-lg-12 col-md-12 col-12 d-lg-flex d-md-flex align-items-center mt-3 mb-5 table-bg">
    <div class="col-lg-2 col-md-4 col-2 d-lg-flex d-md-flex d-none p-3">
        <img src="/assets/gaura_logo.png" alt="gaura-logo">
    </div>
    <div class="col-lg-10 col-md-8 col-10">
        <div class="d-lg-flex ">
            <div class="col-lg-8 col-md-12 col-12 d-flex">
                <div class="col-lg-4 col-md-4 col-7">
                    <h6 class="info-data mb-0">Client Id </h6>
                    <h6 class="info-label">Client001</h6>
                </div>
                <div class="col-lg-4 col-md-5 col-8">
                    <h6 class="info-data mb-0">Client Name</h6>
                    <h6 class="info-label">ABC pvt ltd</h6>
                </div>
                <div class="col-lg-4 col-md-3 d-lg-flex d-md-flex flex-column d-none">
                    <h6 class="info-data mb-0">Client Phone</h6>
                    <h6 class="info-label">9876543210</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 d-flex">
                <div class="col-lg-6 col-md-8 col-8">
                    <h6 class="info-data mb-0">Client Email ID</h6>
                    <h6 class="info-label">abccompany.com</h6>
                </div>
                <div class="col-lg-6 col-md-4 col-6 d-flex flex-column justify-content-md-end">
                    <h6 class="info-data mb-0">Client Location</h6>
                    <h6 class="info-label">Tiruvannamalai</h6>
                </div>
            </div>
        </div>
        <div class="d-lg-flex mt-3">
            <div class="col-lg-8 col-md-12 col-12 d-flex">
                <div class="col-lg-4 col-md-4 col-3">
                    <h6 class="info-data mb-0">GST NO</h6>
                    <h6 class="info-label">CDKPR5770H</h6>
                </div>
                <div class="col-lg-4 col-md-4 col-5">
                    <h6 class="info-data mb-0">Contact Person</h6>
                    <h6 class="info-label">Ranjith</h6>
                </div>
                <div class="col-lg-4 col-md-5 col-7">
                    <h6 class="info-data mb-0">Account Manager</h6>
                    <h6 class="info-label">Rk</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 d-flex">
                <div class="col-lg-12 col-md-12 col-12">
                    <h6 class="info-data mb-0">Address</h6>
                    <h6 class="info-label">123/A, abc Street, Tiruvannamalai.</h6>
                </div>
            </div>
        </div>
    </div>
</div>
