a {
    text-decoration: none;
}

.info-data {
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
}

.info-label {
    font-size: 18px;
}

.client__button {
    border-radius: 5px;
    text-align: center;
    background-color: #FF5D25;
    color: white;
    border: 1px solid #FF5D25;
    padding: 5px;
}

.client__button:hover {
    background-color: white;
    color: black;
    border: 1px solid #FF5D25;
}

body {
    position: relative;
    height: 100vh;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(240, 240, 240);
    text-align: center;
    /* height: 15rem; */
    width: 100%;
    /* border: 1px solid #7B7B7B; */
}
img{
    cursor: pointer;
}